.mainpage {
  width: 100%;
  height: 100vh;
  // background-color: #161619;
  color: #424242;
  padding: 1vmax;
  display: flex;
  flex-direction: column;
  
  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4vmax;
  }

  .uplodeSection {
    padding: 2px;

    fieldset {
      border: none;
      margin-bottom: 8px;
    }

    .btn {
      width: 10vmax;
      margin-top: 1vmax;
    }

    margin-bottom: 30px;
  }
}

